.navbar{

    backdrop-filter: blur(2px);
    
    background: rgba(0,0,0,0.5);
}
    
.navbar navbar-brand{ 
    
    font-weight: bold;
    color: #E50914;
}
    
.navbar-nav .nav-item .nav-link{

    color: #E50914;
}
    
