<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Galloflix</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search">Pesquisar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere efficitur arcu,
  nec eleifend sapien tincidunt ut. Aenean efficitur ultricies faucibus. Duis interdum tellus a tortor pharetra,
  nec consequat libero lobortis. Donec mollis risus quis dignissim auctor. Curabitur maximus convallis risus
  eget laoreet. Pellentesque id metus ut velit finibus finibus. Curabitur malesuada nec sem sit amet rhoncus.

  Phasellus ut faucibus nulla.Duis feugiat massa velit, non fringillametus eleifend et. Phasellus pulvinar orci non
  neque
  consequat rhoncus. Phasellus aliquet tempus iaculis. Suspendisse quis neque id ex pretium pulvinar id vitae leo.
  Curabitur pulvinar egestas mi, sollicitudin lacinia mi. Duis bibendum faucibus neque id iaculis. Nam sit amet
  tincidunt diam, nec auctor mi.
  Nullam viverra, lorem pharetra efficitur pulvinar, risus arcu vestibulum nisi, sed elementum erat tortor a odio.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere efficitur arcu,
  nec eleifend sapien tincidunt ut. Aenean efficitur ultricies faucibus. Duis interdum tellus a tortor pharetra,
  nec consequat libero lobortis. Donec mollis risus quis dignissim auctor. Curabitur maximus convallis risus
  eget laoreet. Pellentesque id metus ut velit finibus finibus. Curabitur malesuada nec sem sit amet rhoncus.
  Mauris ex turpis,
  venenatis sed maximus vel, mattis et tortor.
  Phasellus ut faucibus nulla.Duis feugiat massa velit, non fringillametus eleifend et. Phasellus pulvinar orci non
  neque
  consequat rhoncus. Phasellus aliquet tempus iaculis. Suspendisse quis neque id ex pretium pulvinar id vitae leo.
  Curabitur pulvinar egestas mi, sollicitudin lacinia mi. Duis bibendum faucibus neque id iaculis. Nam sit amet
  tincidunt diam, nec auctor mi.
  Nullam viverra, lorem pharetra efficitur pulvinar, risus arcu vestibulum nisi, sed elementum erat tortor a odio.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere efficitur arcu,
  nec eleifend sapien tincidunt ut. Aenean efficitur ultricies faucibus. Duis interdum tellus a tortor pharetra,
  nec consequat libero lobortis. Donec mollis risus quis dignissim auctor. Curabitur maximus convallis risus
  eget laoreet. Pellentesque id metus ut velit finibus finibus. Curabitur malesuada nec sem sit amet rhoncus.
  Mauris ex turpis,
  venenatis sed maximus vel, mattis et tortor.
  Phasellus ut faucibus nulla.Duis feugiat massa velit, non fringillametus eleifend et. Phasellus pulvinar orci non
  neque
  consequat rhoncus. Phasellus aliquet tempus iaculis. Suspendisse quis neque id ex pretium pulvinar id vitae leo.
  Curabitur pulvinar egestas mi, sollicitudin lacinia mi. Duis bibendum faucibus neque id iaculis. Nam sit amet
  tincidunt diam, nec auctor mi.
  Nullam viverra, lorem pharetra efficitur pulvinar, risus arcu vestibulum nisi, sed elementum erat tortor a odio.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere efficitur arcu,
  nec eleifend sapien tincidunt ut. Aenean efficitur ultricies faucibus. Duis interdum tellus a tortor pharetra,
  nec consequat libero lobortis. Donec mollis risus quis dignissim auctor. Curabitur maximus convallis risus
  eget laoreet. Pellentesque id metus ut velit finibus finibus. Curabitur malesuada nec sem sit amet rhoncus.
  Mauris ex turpis,
  venenatis sed maximus vel, mattis et tortor.
  Phasellus ut faucibus nulla.Duis feugiat massa velit, non fringillametus eleifend et. Phasellus pulvinar orci non
  neque
  consequat rhoncus. Phasellus aliquet tempus iaculis. Suspendisse quis neque id ex pretium pulvinar id vitae leo.
  Curabitur pulvinar egestas mi, sollicitudin lacinia mi. Duis bibendum faucibus neque id iaculis. Nam sit amet
  tincidunt diam, nec auctor mi.
  Nullam viverra, lorem pharetra efficitur pulvinar, risus arcu vestibulum nisi, sed elementum erat tortor a odio.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere efficitur arcu,
  nec eleifend sapien tincidunt ut. Aenean efficitur ultricies faucibus. Duis interdum tellus a tortor pharetra,
  nec consequat libero lobortis. Donec mollis risus quis dignissim auctor. Curabitur maximus convallis risus
  eget laoreet. Pellentesque id metus ut velit finibus finibus. Curabitur malesuada nec sem sit amet rhoncus.
  Mauris ex turpis,
  venenatis sed maximus vel, mattis et tortor.
</p>
<router-outlet></router-outlet>